<h2>Methods that were not run</h2><table>
<tr><td>feedback.strategy.TestIGEM.exp3DtIGLow</td></tr>
<tr><td>feedback.strategy.TestIGEM.test6</td></tr>
<tr><td>feedback.strategy.TestIGEM.testSlide</td></tr>
<tr><td>feedback.strategy.TestIGEM.exp3BL2</td></tr>
<tr><td>feedback.strategy.TestIGEM.testSmall10</td></tr>
<tr><td>feedback.strategy.TestIGEM.testDebug</td></tr>
<tr><td>feedback.strategy.TestIGEM.expReal</td></tr>
<tr><td>feedback.strategy.TestIGEM.exp1</td></tr>
<tr><td>feedback.strategy.TestIGEM.exp3Random2</td></tr>
<tr><td>feedback.strategy.TestIGEM.exp1SrcIG</td></tr>
<tr><td>feedback.strategy.TestIGEM.exp3DtIG</td></tr>
<tr><td>feedback.strategy.TestIGEM.exp3Random</td></tr>
<tr><td>feedback.strategy.TestIGEM.exp3SrcIGLow</td></tr>
<tr><td>feedback.strategy.TestIGEM.exp2</td></tr>
<tr><td>feedback.strategy.TestIGEM.exp3DtIG2</td></tr>
<tr><td>feedback.strategy.TestIGEM.exp2SrcIG</td></tr>
<tr><td>feedback.strategy.TestIGEM.exp3SrcIG2</td></tr>
<tr><td>feedback.strategy.TestIGEM.testSmall10Random</td></tr>
<tr><td>feedback.strategy.TestIGEM.exp3SrcIG</td></tr>
<tr><td>feedback.strategy.TestIGEM.testSmallMulti</td></tr>
<tr><td>feedback.strategy.TestIGEM.exp3BL</td></tr>
</table>